NODE_ENV=development
PORT=4000
# MONGODB_URI=mongodb://127.0.0.1:27017/jaimin_portfolio
MONGODB_URI=mongodb+srv://jaiminkatva:Jaimin%401109@mernproject.ikjjxfx.mongodb.net/my-portfolio?appName=MERNproject&compressors=zlib
JWT_SECRET=cBmzTXyuGa6qUFwVoNWEcWhZ02ITRtSH
JWT_EXPIRES_IN=1d
CLIENT_ORIGIN=http://localhost:5173
VITE_API_URL=/api/v1

# Used only by `npm run seed:admin`.
ADMIN_NAME=Jaimin Katva
ADMIN_EMAIL=jaiminkatva@gmail.com
ADMIN_PASSWORD=Jaimin@12345